<div class="container-fluid">
  <div class="row mx-0 my-5" *ngIf="product">
    <div class="col-md-4 offset-md-2 text-center">
      <img class="img-fluid" src="{{ product.img_pri }}" alt="Billpocket {{ product.title }}">
    </div>
    <div class="col-md-4 prod-detail">
      <h3 class="title">{{ product.title }}</h3>
      <span class="price">{{ product.price | currency }} MXN</span>
      <p class="description">
        {{ product.long_desc }}
      </p>
      <form class="form" #addToCartForm="ngForm" (ngSubmit)="onAddProduct()">
        <div class="form-group">
          <label >Cantidad</label>
          <input type="number" class="form-control" name="qty" [(ngModel)]="productModel.qty" #qty="ngModel" min="1" max="10" required>

          <div *ngIf="qty.errors && qty.dirty" class="alert alert-danger">
            <ng-container *ngIf="qty.hasError('required')">
              Selecciona la cantidad
            </ng-container>
          </div>
          <input type="hidden" name="productid" [(ngModel)]="product.id">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!addToCartForm.form.valid || productModel.qty == 0">Añadir al carrito</button>
      </form>
    </div>
  </div>
</div>