<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="title-default">
        <img class="img-fluid my-4" src="assets/images/people.svg" alt="Billpocket Gracias">
        <h2>¡Gracias {{ order?.name | uppercase }} {{ order?.lastname | uppercase }} por comprar en Billpocket!</h2>
        <p>Te invitamos a finalizar tu registro, dándole click al siguiente botón</p>
      </div>
      <a href="" class="btn btn-info mb-5">Finalizar registro</a>
    </div>
  </div>
</div>