<footer>
  <div class="container-fluid">
    <div class="row footer">
      <div class="col-md-10 offset-md-1 main">
          <div class="links">
            <a href="https://www.billpocket.com/negocio?ref=" target="_blank">Billpocket en tu negocio</a>
            <a href="https://ayuda.billpocket.com/support/home" target="_blank">Atención al cliente</a>
            <a href="https://www.billpocket.com/seguridad?ref=" target="_blank">Seguridad</a>
            <a href="https://blog.billpocket.com/" target="_blank">Blog</a>
          </div>
          <div class="services">
            <ul>
              <li>
                  <span class="d-block">Servicio al cliente</span>
                  <a href="tel: 01 800 890 5588" target="_blank">01 800 890 558</a>
              </li>
              <li>
                <span class="d-block">Soporte</span>
                  <a href="mailto: soporte@billpocket.com" target="_blank">soporte@billpocket.com</a>
              </li>
              <li>
                <span class="d-block">Prensa</span>
                <a href="mailto: prensa@billpocket.com" target="_blank">prensa@billpocket.com</a>
              </li>
              <li>
                <span class="d-block">Distribuidores</span>
                <a href="mailto: distribuidores@billpocket.com" target="_blank">distribuidores@billpocket.com</a>
              </li>
            </ul>
          </div>
          <div class="support">
            <ul>
              <li>
                <span class="d-block">Horario de atención</span>
              </li>
              <li>
                <span class="d-block">Lunes a Sábado - 09:00 a 00:00</span>
              </li>
              <li>
                <span class="d-block">Domingo - 10:00 a 19:00</span>
              </li>
            </ul>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/billpocket.mx" title="Billpocket Facebook" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/Billpocket" title="Billpocket Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://plus.google.com/+Billpocket" title="Billpocket Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="https://wa.me/523325391598" title="Billpocket Whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
              <li class="list-inline-item"><a href="https://mx.linkedin.com/company/billpocket" title="Billpocket LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-0 footer-bottom"
      #stickyMenu
      [class.sticky] = "sticky">
      <div class="col-sm-10 offset-md-1 px-0 ">
        <a routerLink="" class="btn btn-light my-3" [routerLinkActive]="['router-link-active']">Comprar</a>
      </div>
    </div>
</footer>