<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-4 offset-md-2">
      <form #orderForm="ngForm" (ngSubmit)="onSubmitOrder()" novalidate>

        <div class="row">
          <div class="col-sm-12">
            <h2>Datos personales</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <input type="email" class="form-control" placeholder="Correo Electrónico" name="email" [(ngModel)]="orderModel.email" #email="ngModel"
              email required>
            <div *ngIf="email.errors && email.dirty" class="alert alert-danger">
              <ng-container *ngIf="email.hasError('required')">
                Correo es requerido
              </ng-container>
              <ng-container *ngIf="email.hasError('email')">
                Ingresa un correo válido
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">

            <input type="text" class="form-control" placeholder="Nombre" name="name" [(ngModel)]="orderModel.name"
              #name="ngModel" required minlength="3">

            <div *ngIf="name.errors && name.dirty" class="alert alert-danger">
              <ng-container *ngIf="name.hasError('required')">
                Nombre es requerido
              </ng-container>
              <ng-container *ngIf="name.hasError('minlength')">
                Nombre min de 3 carácteres
              </ng-container>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="orderModel.lastname"
              name="lastname" required #lastname="ngModel">
            <div *ngIf="lastname.invalid && lastname.dirty" class="alert alert-danger">
              Apellidos es requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <input type="text" class="form-control" placeholder="Teléfono" name="phone" [(ngModel)]="orderModel.phone"
              #phone="ngModel" maxlength="10" pattern="^[0-9]*$" required>

            <div *ngIf="phone.errors && phone.dirty" class="alert alert-danger">
              <ng-container *ngIf="phone.hasError('required')">
                Teléfono es requerido
              </ng-container>
              <ng-container *ngIf="phone.hasError('pattern')">
                Ingresa un teléfono válido
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2>Dirección de Envío</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Referencia Cliente"
              name="client_reference" [(ngModel)]="orderModel.client_reference" #clientreference="ngModel"
              maxlength="128" required>
            <div *ngIf="clientreference.errors && clientreference.dirty" class="alert alert-danger">
              <ng-container *ngIf="clientreference.hasError('required')">
                Referencia Cliente es requerido
              </ng-container>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Código Postal" name="zipcode" [(ngModel)]="orderModel.zipcode" #zipcode="ngModel"
              maxlength="5" pattern="^[0-9]*$" required>

            <div *ngIf="zipcode.errors && zipcode.dirty" class="alert alert-danger">
              <ng-container *ngIf="zipcode.hasError('required')">
                Código Postal es requerido
              </ng-container>
              <ng-container *ngIf="zipcode.hasError('pattern')">
                Código Postal debe ser número
              </ng-container>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Estado"  name="state" [(ngModel)]="orderModel.state" #state="ngModel"
            maxlength="32" required>
            <div *ngIf="state.invalid && state.dirty" class="alert alert-danger">
              Estado es requerido
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Ciudad"  name="city" [(ngModel)]="orderModel.city" #city="ngModel"
            maxlength="64" required>
            <div *ngIf="city.invalid && city.dirty" class="alert alert-danger">
              Ciudad es requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Colonia" name="suburb" [(ngModel)]="orderModel.suburb" #suburb="ngModel"
            maxlength="64" required>
            <div *ngIf="suburb.invalid && suburb.dirty" class="alert alert-danger">
              Colonia es requerido
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Calle" name="street" [(ngModel)]="orderModel.street" #street="ngModel"
            maxlength="32" required>
            <div *ngIf="street.invalid && street.dirty" class="alert alert-danger">
              Calle es requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Núm. Externo" name="num_ext" [(ngModel)]="orderModel.num_ext" #numext="ngModel"
               required>
            <div *ngIf="numext.invalid && numext.dirty" class="alert alert-danger">
              Núm. Externo es requerido
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <input type="text" class="form-control" placeholder="Núm. Interno" name="num_int" [(ngModel)]="orderModel.num_int" #numint="ngModel">
            <div *ngIf="numint.invalid && numint.dirty" class="alert alert-danger">
              Núm. Interno es requerido
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary my-4" [disabled]="!orderForm.form.valid">Realizar
          compra</button>
      </form>
      
    </div>
    <div class="col-md-4">
      <h2>Productos</h2>
      FormValue {{ orderForm.value | json}}
      <div class="cart" *ngFor="let item of items">
        <div class="item">
          <img src="{{ item.img }}" alt="{{ item.title }}" class="img">
          <div class="description">
            <span class="title">{{ item.title }}</span>
          </div>
          <div class="price">
            {{ item.price | currency }} * {{ item.qty }} ({{ item.price * item.qty | currency }})
          </div>
        </div>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="text-left">Compra</th>
            <td class="text-right">
              {{ getTotal() | currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>